.heroBanner {
  width: 100%;
  height: 300px;
  background-color: #04152d;
  display: flex;
  align-items: top;
  position: relative;
}

@media (min-width: 768px) {
  .heroBanner {
    height: 600px;
  }
}

.heroBanner .backdrop-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  overflow: hidden;
}

.heroBanner .backdrop-img .lazy-load-image-background {
  width: 100%;
  height: 100%;
}

.heroBanner .backdrop-img .lazy-load-image-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.heroBanner .opacity-layer {
  width: 100%;
  height: 250px;
  background: linear-gradient(180deg, rgba(10, 102, 231, 0) 0%, #081c39 79.17%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.heroBanner .heroBannerContent {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  max-width: 960px;
  margin: auto;
  margin-top: 60px;
}

.heroBanner .heroBannerContent .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .heroBanner .heroBannerContent .title {
    margin-bottom: 0;
    font-size: 50px;
  }
}

.heroBanner .heroBannerContent .subTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .heroBanner .heroBannerContent .subTitle {
    font-size: 24px;
  }
}
